<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223179862210-mof0uu5ifkm923256rmsdqc223hektes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223179862210-mof0uu5ifkm923256rmsdqc223hektes</string>
	<key>API_KEY</key>
	<string>AIzaSyAw29BIqkPcMGrpIkk9HwKffKmCF7Wzltc</string>
	<key>GCM_SENDER_ID</key>
	<string>223179862210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLoginCheck.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-login-check-75276</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-check-75276.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223179862210:ios:83ff3a6de9beef8a6fcb5b</string>
</dict>
</plist>